<div class='card ctf-task'>
    <div class='task-header'>
        <div><h4>{{task.name}}</h4></div>
        {{#if task.solved}}<span class='solved'>Løst!</span>{{/if}}
        <div class='task-stats'>
            <span>Løst av: <strong>{{task.solvedCount}}</strong></span>
            <span>Poeng: <strong>{{task.points}}</strong></span>
        </div>
    </div>
    <div>{{{task.description}}}</div>
    {{#unless task.solved}}
        <form class='flag-submit' action='/ctf/solve' method='post'>
            <label for='flag-input'>Flagg</label>
            <input type='text' name='id' hidden value='{{this.id}}' />
            <input
                type='text'
                id='flag-input'
                name='flag'
                placeholder='Lim inn flagget her'
                required
            />
            <button type='submit'>Svar</button>
        </form>
    {{/unless}}
</div>