<main class='container'>
    <header>
        <a href='/admin'><- Tilbake</a>
    </header>

    {{#if error}}
        <div class='message error'>
            <p>{{error}}</p>
        </div>
    {{/if}}
    {{#if message}}
        <div class='message'>
            <p>{{message}}</p>
        </div>
    {{/if}}

    <h2>Kategorier</h2>
    <h3>Lag ny</h3>
    <form action='/admin/category' method='post'>
        <label>
            Navn:
            <input type='text' name='name' />
        </label>
        <button class="btn" type='submit'>Legg til</button>
    </form>

    <h3>Eksisterende:</h3>
    <ul>
        {{#each categories}}
            <li>
                <form action='/admin/category' method='post'>
                    <input type='text' name='id' value='{{this.id}}' hidden required />
                    <input type='text' name='name' value='{{this.name}}' required />
                    <button class="btn" type='submit'>Oppdater</button>
                </form>
            </li>
        {{/each}}
    </ul>

    <h2>Oppgaver</h2>

    <h3>Ny Oppgave</h3>

    <form class="add-tasks" action='/admin/task' method='post'>
        <label>
            Oppgavetittel:
            <input type='text' name='name' placeholder='Verden brenner' required/>
        </label>
        <label>
            Kategori:
            <select name='categoryId' required>
                {{#each categories}}
                    <option value='{{this.id}}'>{{this.name}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            Poeng:
            <input type='number' name='points' placeholder="1" value="1" required/>
        </label>
        <label>
            Flagg:
            <input type='text' name='flag' placeholder='Flaggkode' required/>
        </label>
        <label>
            Oppgavetekst (HTML):<br />
            <textarea name='description' required></textarea>
        </label>
        <button class="btn" type='submit'>Legg til</button>
    </form>
    <section class="tasks">
        <h2>Lagt til oppgaver</h2>
        <div class="task-list">
            {{#each tasks}}
            <details>
                <summary><h3>{{this.id}}: {{this.name}}</h3></summary>
                <article>
                    <div class="id">
                        ID: {{this.id}}
                    </div>
                    <div class="name">
                        <label for="name" class="">Oppgavetittel</label>
                        <input type="text" name="name" value="{{this.name}}" />
                    </div>
                    <div class="category">
                        <label for="categoryId" class="">Kategori</label>
                        <select name="categoryId">
                        {{#each ../categories}}
                            <option value='{{this.id}}' {{#if (equals this.id ../this.category.id)}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                        </select>
                    </div>
                    <div class="points">
                        <label for="points" class="">Poeng</label>
                        <input type="number" name="points" value="{{this.points}}" />
                    </div>
                    <div class="flag">
                        <label for="flag" class="">Flagg</label>
                        <input type="text" name="flag" value="{{this.flag}}" />
                    </div>
                    <div class="desc">
                        <label for="description" class="">Beskrivelse</label>
                        <textarea type="text" name="description">{{this.description}}</textarea>
                    </div>
                    <div class="buttons">
                        <button class="btn" type='submit'>Oppdater</button>
                        <a class="btn secondary" href="/admin/task/delete?id={{this.id}}">Slett</a>
                    </div>
                </article>
            </details>
            {{/each}}
        </div>
    </section>
</main>