<div class='container'>
    <h1>admin</h1>
    <div class='admin-content'>
        <div>
            {{#if error}}
                <div class='error'>
                    <p>{{error}}</p>
                </div>
            {{/if}}
            {{#if message}}
                <div class='message'>
                    <p>{{message}}</p>
                </div>
            {{/if}}
            <h3>Nytt Team</h3>
            <form action='/admin/team' method='post'>
                <div>
                    <label>
                        Navn:
                        <input type='text' name='name' placeholder='Navn' />
                    </label>
                </div>
                <button type='submit'>OK</button>
            </form>
        </div>
        <div>
            <table>
                <thead>
                    <th>Navn</th>
                    <th>Kode</th>
                    <th>Pålogget</th>
                </thead>
                <tbody>
                    {{#each teamList}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.code}}</td>
                            <td>{{this.sessions}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <a href='/admin/task' class='btn'>Oppgaver</a>
</div>