<div class='container'>
    <a href='/admin' class='btn'><- Tilbake</a>

    {{#if error}}
        <div class='message error'>
            <p>{{error}}</p>
        </div>
    {{/if}}
    {{#if message}}
        <div class='message'>
            <p>{{message}}</p>
        </div>
    {{/if}}

    <h2>Kategorier</h2>
    <h3>Lag ny</h3>
    <form action='/admin/category' method='post'>
        <label>
            Navn:
            <input type='text' name='name' />
        </label>
        <button type='submit'>OK</button>
    </form>

    <h3>Eksisterende:</h3>
    <ul>
        {{#each categories}}
            <li>
                <form action='/admin/category' method='post'>
                    <input type='text' name='id' value='{{this.id}}' hidden />
                    <input type='text' name='name' value='{{this.name}}' />
                    <button type='submit'>Oppdater</button>
                </form>
            </li>
        {{/each}}
    </ul>

    <h2>Oppgaver</h2>

    <h3>Ny Oppgave</h3>

    <form action='/admin/task' method='post'>
        <label>
            Navn:
            <input type='text' name='name' placeholder='Navn' />
        </label>
        <br />
        <label>
            Kategori:
            <select name='categoryId'>
                {{#each categories}}
                    <option value='{{this.id}}'>{{this.name}}</option>
                {{/each}}
            </select>
        </label>
        <br />
        <br />
        <label>
            Beskrivelse (HTML):<br />
            <textarea name='description' cols='30' rows='10'></textarea>
        </label>
        <br />
        <label>
            Poeng:
            <input type='number' name='points' />
        </label>
        <br />
        <label>
            Flagg:
            <input type='text' name='flag' placeholder='Flaggkode' />
        </label>
        <br />
        <button type='submit'>OK</button>
    </form>
    <br />
    <br />
    <table>
        <thead>
            <th>Id</th>
            <th>Navn</th>
            <th>Kategori</th>
            <th>Beskrivelse</th>
            <th>Poeng</th>
            <th>Flagg</th>
            <th>Update</th>
        </thead>
        <tbody>
            {{#each tasks}}
                <tr>
                    <form action='/admin/task' method='post'>
                        <td><input type='text' name='id' value='{{this.id}}' hidden/>{{this.id}}</td>
                        <td><input type="text" name="name" value="{{this.name}}"></td>
                        <td>{{this.category.name}}</td>
                        <td>
                            <select name="categoryId">
                            {{#each ../categories}}
                                <option value='{{this.id}}' {{#if (equals this.id ../this.category.id)}}selected{{/if}}>{{this.name}}</option>
                            {{/each}}
                            </select>
                        </td>
                        <td><textarea type="text" name="description">{{this.description}}</textarea></td>
                        <td><input type="text" name="points" value="{{this.points}}"></td>
                        <td><input type="text" name="flag" value="{{this.flag}}"></td>
                        <td>
                            <button type='submit'>Oppdater</button>
                            <a href="/admin/task/delete?id={{this.id}}">Slett</a>
                        </td>
                    </form>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>