{{> header }}

<div class="ctf-wrapper">
    <div class="ctf-container">
        <div class="category-container">
            <h3>Kategorier</h3>
            <ul>
                {{#each categories}}
                <li{{#if this.selected}} class="selected"{{/if}}><a href="/ctf/category/{{this.name}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="details-container">
            {{#each tasks}}
            <div class="ctf-task">
                <div class="task-header">
                    <h4>{{this.name}}</h4>
                    <span>Poeng: {{this.points}}</span>
                </div>
                <div>{{{this.description}}}</div>
                <form class="flag-submit" action="">
                    <label for="flag-input">Flagg</label>
                    <input type="text" id="flag-input" name="flag" placeholder="Lim inn flagget her" />
                    <button type="submit">Svar</button>
                </form>
            </div>
            {{/each}}
        </div>
    </div>
</div>
